/**
 * DIALOG
 *
 * Modal, used on references pop-up
 */

/* Reference CSS for dialog */
/* Flexbox prefixes from https://github.com/mastastealth/sass-flex-mixin/blob/master/flex.scss */

.dialog__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 1
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    -ie-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 80%;
    width: 640px;
    width: 65rem;
    height: 40%;
    max-height: 60%;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (min-width: 0\0) and (-webkit-min-device-pixel-ratio:0.75),screen and (min-width:0\0) and (min-resolution:72dpi) {
    .dialog {
        height:25rem
    }
}

@media (max-width: 599px) {
    .dialog {
        max-width:95%;
        max-height: 95%
    }
}

.dialog--absolute,.ie8 .dialog {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    width: auto;
    height: auto;
    overflow: auto;
    max-width: 100%
}

.dialog--absolute .dialog__close,.ie8 .dialog .dialog__close {
    top: 0
}

.dialog__header {
    padding: 8px 16px;
    padding: .5rem 1rem;
    background: #004b88;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #fff
}

.dialog__header h2 {
    color: #fff
}

.dialog__title {
    font-size: 20.8px;
    font-size: 1.3rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1.2em
}

.dialog__close {
    color: #dfdfdf;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    margin: 0;
    right: 0;
    position: absolute;
    top: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.dialog__close:focus {
    outline: 2px solid #fcbb69
}

.dialog__close:active,.dialog__close:focus,.dialog__close:hover {
    color: #fff;
    background: none;
    box-shadow: none;
    border: none
}

.dialog__close-icon:before {
    content: "\e603";
    font-family: cab-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0
}

.dialog__close-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.dialog__main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 2rem;
    -ms-flex-positive: 2;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: #c2bdde;
}

.dialog__main a{
    min-width: 180px;
    font-size: 17px;
    background: white;
    line-height: 3em;
    font-weight: 600;
    padding: 0 10px;
    border: none;
}

@media screen and (min-width: 0\0) and (-webkit-min-device-pixel-ratio:0.75),screen and (min-width:0\0) and (min-resolution:72dpi) {
    .dialog__main {
        height:21rem
    }
}

.dialog__footer {
    padding: 8px 16px;
    padding: .5rem 1rem;
    background: #f2f8ff;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.dialog--extent-picker .dialog__header {
    background: #fff;
    padding: 0
}

.dialog--extent-picker .dialog__header .dialog__title {
    overflow: visible;
    height: auto;
    white-space: normal;
    padding: 12px 16px;
    padding: .75rem 1rem;
    font-size: 28.8px;
    font-size: 1.8rem;
    margin: 0
}

.dialog--extent-picker .dialog__header .dialog__close {
    position: absolute;
    color: gray;
    top: 25.6px;
    top: 1.6rem;
    padding: 12px 16px;
    padding: .75rem 1rem;
    z-index: 2;
    border: none
}

.dialog--extent-picker .dialog__header .dialog__close:hover {
    color: #004b88
}

.dialog--extent-picker .dialog__header h2 {
    color: #004b88;
    font-size: 28.8px;
    font-size: 1.8rem
}

.dialog--extent-picker .dialog__main h2:first-child {
    margin-top: 0
}

.dialog--extent-picker .dialog__footer {
    display: none
}

.dialog__title{
    color: #00553F;
}