@import "./node_modules/cadesignsystem/scss/cabui";


body, html{
    background: white;
    height: 100%;
    width: 100%;
}

.main-container{
    background: #c2bdde;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.links{
    width: 25%;
    border: 1px solid #fff;
    height: 200px;
    padding: 20px;
    margin: 50px 30px;
    display: inline-block;
}


@import "dialog";
@import "desktop";
@import "mobile";
 